/* http://meyerweb.com/eric/tools/css/reset/
     v2.0 | 20110126
     License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    position: relative;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/********************/
*,:after,:before {
    box-sizing: border-box
}
body,html {
    margin: 0;
    min-height: 100%;
}
html {
    -ms-text-size-adjust: 100%;
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%
}
@media (max-width: 768px) {
    html {
        font-size:58%
    }
}
a {
    text-decoration: none;
}

.mol-nav_MainList .list-cell.dropdown .main-menu__block .block-menu:last-of-type .block-menu__sections li, .mol-nav_MainList .list-cell.dropdown .main-menu__block .block-menu:first-of-type .block-menu__sections li, .mol-nav_MainList .list-cell.dropdown .main-menu__block .block-menu, .col-70-md,
.col-70-offset-md, .col-305-offset-md,
.col-305-md {
  display: inline-block;
  vertical-align: top;
}

.mol-nav_MainList .list-cell, .mol-nav_Main .Main-logo,
.mol-nav_Main .Main-btn-responsive {
  display: inline-block;
  vertical-align: middle;
}

.cgrid-row {
  margin-right: -10px;
  margin-left: -10px;
}

.col-305-offset-md,
.col-305-md {
  padding: 0 10px;
  width: 100%;
}

@media (min-width: 768px) {
  .col-305-md {
    width: 325px;
  }
}

@media (min-width: 768px) {
  .col-305-offset-md {
    width: calc(100% - 325px);
  }
}

.col-70-md,
.col-70-offset-md {
  width: 100%;
}

@media (min-width: 768px) {
  .col-70-md {
    width: 70px;
  }
}

.col-70-offset-md {
  overflow: hidden;
}
@media (min-width: 768px) {
  .col-70-offset-md {
    width: calc(100% - 70px);
  }
}

.notas__middle {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 10px;
  box-shadow: 0 10px 30px 0 #bbb;
}
.notas__middle p {
    font-size: 13px;
    margin: 10px 0;
    line-height: 1.5;
}
@media (min-width: 1000px) {
  .notas__middle {
    padding: 15px;
    height: 800px;
  }
}

@media (min-width: 1000px) {
  .wrapper-header {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 20px 15px;
    background-color: #355fd9;
  }
}

.container-menu {
  position: relative;
}

.mol-nav_Main {
  font-size: 0;
}
.mol-nav_Main .Main-logo {
  width: 142px;
}

@media (min-width: 1000px) {
  .mol-nav_Main .Main-btn-responsive {
    width: calc(100% - 142px);
  }
  .mol-nav_Container-MainList {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: calc(100% - 142px);
    text-align: right;
    z-index: 1;
  }
}

.mol-nav_MainList .MainList-ul__list {
  font-size: 0;
}
.mol-nav_MainList .list-cell {
  font-family: "Gotham Medium";
  font-size: 12px;
  padding: 10px;
}
.mol-nav_MainList .list-cell > a {
  color: #FFF;
}
.mol-nav_MainList .list-cell > a:hover {
  opacity: 0.7;
}
.mol-nav_MainList .list-cell.dropdown{
  position: relative;
}
.mol-nav_MainList .list-cell.dropdown .main-menu__block {
  position: absolute;
  text-align: left;
  background-color: #FFF;
  right: 0;
  min-width: 566px;
  padding: 20px 30px 0;
  font-size: 0;
  border-radius: 4px;
  margin-top: 10px;
  box-shadow: 0 2px 11px 0 #000;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  display: none;
}
.mol-nav_MainList .list-cell.dropdown:hover .main-menu__block {
  visibility: visible;
  opacity: 1;
  transition: 0.3s linear;
  animation: odsoky 1s ease-in-out infinite alternate;
  display: block;
}
.mol-nav_MainList .list-cell.dropdown .main-menu__block:after {
  content: "";
  width: 0;
  height: 0;
  border-right: 9px solid transparent;
  border-top: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 9px solid #FFF;
  position: absolute;
  top: -17px;
  right: 52px;
}
.mol-nav_MainList .list-cell.dropdown .main-menu__block span {
  font-family: "Gotham Bold";
  font-size: 1.2rem;
  color: #4e4e4e;
  display: block;
  margin-bottom: 18px;
}
.mol-nav_MainList .list-cell.dropdown .main-menu__block .block-menu {
  width: 50%;
}
.mol-nav_MainList .list-cell.dropdown .main-menu__block .block-menu:first-of-type .block-menu__sections li {
  width: 33.33333%;
}
.mol-nav_MainList .list-cell.dropdown .main-menu__block .block-menu:last-of-type .block-menu__sections li {
  width: 50%;
}
.mol-nav_MainList .list-cell.dropdown .main-menu__block .block-menu .block-menu__sections {
  font-size: 0;
}
.mol-nav_MainList .list-cell.dropdown .main-menu__block .block-menu .block-menu__sections a {
  font-family: "Gotham Book";
  font-size: 1.2rem;
  color: #8a8a8a;
}
.mol-nav_MainList .list-cell.dropdown .main-menu__block .block-menu .block-menu__sections a:hover {
  opacity: 0.7;
}
.mol-nav_MainList .list-cell.dropdown .main-menu__block .block-menu .block-menu__sections li {
  margin-bottom: 18px;
}
.mol-nav_MainList .list-cell.search-lupa {
    display: none;
}
@media (min-width: 1000px) {
    .mol-nav_MainList .list-cell.search-lupa {
        display: inline-block;
        font-size: 14px;
        border-radius: 100%;
        margin-left: 45px;
        background-color: #FFF;
        color: #355FD9;
        cursor: pointer;
    }
}

.atm-input__search-mobile .search-mobile__form {
    position: relative
}

.atm-input__search-mobile .search-mobile__input {
    width: 100%;
    height: 4.5rem;
    border: none;
    border-bottom: 1px solid #FFF;
    -webkit-text-fill-color: #FFF;
    caret-color: #FFF;
    padding-left: 1rem;
    font-size: 2rem;
    background-color: transparent;
    outline: none;
}
.atm-input__search-mobile .search-mobile__input {
  -moz-appearance: none;/* older firefox */
   -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
   -o-appearance: none;
   appearance: none; /* rest */
   -webkit-appearance: textfield;
}
.atm-input__search-mobile .search-mobile__submit {
    height: 3.3rem;
    width: 3.3rem;
    border: none;
    background: #fff;
    color: #355FD9;
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 1.7rem;
    border-radius: 100%;
}

@media (min-width: 1000px) {
  .list-cell.visible-on-mobile {
    display: none;
  }
}

.search-overlay {
  z-index: 9999;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.search {
  position: relative;
  margin: 0 auto 50px;
  width: 116px;
  height: 116px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.search:not(.s--active) {
  cursor: pointer;
}
.search.s--hidden {
  opacity: 0;
}
.search.s--cloned {
  position: absolute;
  left: 50%;
  top: 50%;
  right: auto;
  bottom: auto;
  margin-left: -58px;
  margin-top: -58px;
  margin-right: 0;
  margin-bottom: 0;
}
.search.s--moving {
  transition: transform 0.4s cubic-bezier(0.56, -0.49, 0.58, 0.9);
}
.search__bg {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #F63;
  transition: all 0.6s ease;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}
.search.s--active .search__bg {
          transform: translate3d(-50%, -50%, 0) scale(48);
}
.search__box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  border: 4px solid #fff;
  border-radius: 25px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: all 0.45s ease;
}
.search.s--active .search__box {
  width: 510px;
  height: 100px;
  border-radius: 50px;
}
.search__input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  pointer-events: none;
  opacity: 0;
  color: #fff;
  font-size: 40px;
  transition: opacity 0s;
}

.s-hidden {
  opacity: 0;
}